.Navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10%;
    color: #ddd;
    border-bottom: 2px solid #3c3c3c;
}
.Navbar .logo{
    width: max(12vw, 120px);
}

.Navbar ul{
    display: flex;
    gap: 40px;
    list-style:none;
}

.Navbar li{
    cursor: pointer;
}

.Navbar .nav-right{
    display: flex;
    align-items: center;
    gap: max(1vw,12px);
}

.Navbar select{
    padding: 5px 8px;
    border-radius: 6px;
    border: 2px solid white;
    background: transparent;
    color: white;
    cursor: pointer;
}

.Navbar select option{

    background-color: #1a1a1a;
    color: white;
    cursor:pointer;
}

.Navbar button{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 25px;
    border-radius: 20px;
    font-size: 15px;
    font-weight: 500;
    color: #393939;
    background: white;
    border: none;
    cursor: pointer;
}

.Navbar button img{
    width: 13px;
}






@media screen and (max-width: 900px) {
    .Navbar{
        padding: 20px 8%;
    }
    .Navbar .logo{
        width: max(12vw, 120px);
    }
    
    .Navbar ul{
        display: flex;
        gap: 40px;
        list-style:none;
    }
    
    .Navbar li{
        cursor: pointer;
    }
    
    .Navbar .nav-right{
        display: flex;
        align-items: center;
        gap: max(1vw,12px);
    }
    
    .Navbar select{
        padding: 5px 8px;
        border-radius: 6px;
        border: 2px solid white;
        background: transparent;
        color: white;
        cursor: pointer;
    }
    
    .Navbar select option{
        background-color: #09005c;
        color: white;
        cursor:pointer;
    }
    
    .Navbar button{
        gap: 8px;
        padding: 8px 18px;
        font-size: 14px;
    }
    
    .Navbar button img{
        width: 13px;
    }
}

@media(max-width:768px){
    .Navbar{
        position: 20px 5%;
    }
    .Navbar ul{
        display: none;
    }

    .Navbar button img{
        width: 12px;
    }
}


.Navbar {
    color: #ffffff;
    border-bottom: 2px solid #2c2c2c;
    background-color: #191d28; /* Dark blue background */
}


.Navbar select {
    border: 2px solid #8dc647; /* Green border */
    color: #8dc647; /* Green text */
}

.Navbar select option {
    background-color: #2c2f36; /* Darker background for options */
    color: #ffffff;
    cursor: pointer;
}

.Navbar button {
    color: #191d28;
    background: #8dc647; /* Green background */
}


@media screen and (max-width: 900px) {
    
    
    .Navbar select option {
        background-color: #2c2f36; /* Consistent with the non-media query style */
        color: #ffffff;
        cursor: pointer;
    }
    
}
