* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html, body {
    height: 100%;
    width: 100%;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightseagreen;
}
#container{
    height: 320px;
    width: 270px;
    border-radius: 10px;
    background-color: white;
    position: relative;
}
#container img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: top;
}

#container i{
    overflow: hidden;
    font-size: 75px;
    opacity: 0;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0);
    transition: all ease 0.4s;
}