colortoadd{
    color:#dcff02;
    color: #a9ff03;
    color: #17181a;
    color: #000000;
    color: #c68fff;
    color: #5cffe4;
}
* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html, body {
    height: 100%;
    width: 100%;
}
body{
    background-color: black;
    overflow-x: hidden;
}
main{
    width: 100%;
    background-color: #000000;

}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2vw 2vw;
    height: 10vh;
}
nav h2{
    font-weight: 500;
    font-family: pp woodland;
    font-size: 40px;
    color: #fff;
}
nav i{
    padding-right: 10px;
    font-size: 50px;
    color:#dcff02;
    cursor: pointer;
}
.ri-menu-3-line{
    font-size: 35px;
}
.ri-money-rupee-circle-fill{
    font-size: 50px;
}
#nav-part1 a{
    text-decoration: none;
}
colortoadd{
    color:#dcff02;
    color: #a9ff03;
    color: #17181a;
    color: #000000;
    color: #c68fff;
    color: #5cffe4;
}
#full{
    height: 100%;
    width: 35%;
    position: absolute;
    background-color: transparent;
    top: 0;
    right: -35%;
    /* jitni isko width denge utna hi minus ka value right mein denge jissey woh pura peeche chal jaye otherwise woh thoda sa reh hi jayega*/
    backdrop-filter: blur(10px);
    padding: 10vw 4vw;
    z-index: 999;
}
#full h4{
    font-family: monument;
    font-size: 50px;
    font-weight: 600;
    letter-spacing: 3px;
    line-height: 80px;
    cursor: pointer;
    color: #a9ff03;
}
#full i{
    font-size: 25px;
    position: absolute;
    top: 5%;
    right: 5%;
    background-color:#dcff02;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    font-weight: 400;
    cursor: pointer;
}
#hero{
    height: 90vh;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    position: relative;
}
#iconset{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2vw;
    gap: 1vw;
}
.ri-funds-fill{
    font-size: 60px;
    color: #a9ff03;


}
.ri-hand-heart-line{
    font-size: 60px;
    color: #a9ff03;

}
.ri-secure-payment-fill{
    font-size: 60px;
    color: #a9ff03;

}
.line{
    overflow: hidden;
    height: fit-content;
}
.line2{
    overflow: hidden;
    height: fit-content;
}
#hero-head h1{
    color: #fff;
    font-size: 80px;
    line-height: 1.3;
    text-align: center;
    font-family: neue machina;
    font-weight: 550;
    letter-spacing: 0.6px;
}
#hero-btn{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

#hero-btn button{
    padding: 15px 40px;
    border-radius: 10px;
    background-color:#dcff02;
    color: #17181a;
    font-size: 25px;
    font-family:poppins;
    font-weight: 550;
    border: 3px solid transparent;
    border-color: #dcff02;
    cursor: pointer;
    margin: 5px;
    transition: all 0.2s ease; /* Smooth transition */
    
}

#hero-btn button:hover{
    background-color:transparent;
    border-color: #dcff02;
    color: #fff;
    /* transition: all ease-in; */
}

#howitwork{
    height: 100vh;
    width: 100%;
    background-color: #000000;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
}
.ht{
    font-size: 80px;
    font-family: monument;
    font-weight: 660;
    text-align: start;
    color: #FFF8EA;
    height: 10vw;
    margin-top: 20px;
}

#howitwork #card{
    height: 90vw;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
}


#Investor{
    height: 75%;
    width: 40%;
    background-color: #a9ff03;
    box-shadow: 20px 10px 0px #c68fff;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
    gap: 30px;
    /* background-color: royalblue; */

}
#Investor h1{
    padding:100px 0px 0px 0px;
    font-size: 55px;
    font-family: poppins;
    font-weight: 600;
    color: #17181a;
}

#Investor ul{
    /* padding-left: 80px; */
    font-size: 75px;
}
#Investor li{
    color: #17181a;
    font-family: poppins;
    font-size: 55px;
}




#startup{
    height: 75%;
    width: 40%;
    background-color: #a9ff03;
    box-shadow: 20px 10px 0px #c68fff;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
    gap: 30px;
    /* background-color: royalblue; */

}
#startup h1{
    padding:100px 0px 0px 0px;
    font-size: 55px;
    font-family: poppins;
    font-weight: 600;
    color: #17181a;

}

#startup ul{
    /* padding-left: 80px; */
    font-size: 75px;
}
#startup li{
    color: #17181a;
    font-family: poppins;
    font-size: 55px;
}
#value-startup{
    height: 100vh;
    width: 100%;
    background-color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
}

#v-s-head{
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: red; */
}
#v-s-head h1{
    font-family: poppins;
    font-size: 100px;
    color: #a9ff03;

}

#v-s-text{
    text-align: left;
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: rgb(59, 13, 13); */
}
#vs-tt{
    height: 70%;
    width: 70%;
    background-color:#dcff02;
    display: flex;
    border-radius: 50px;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    padding-left: 80px;
    box-shadow: 25px 15px 0px #c68fff;
}
#vs-tt h2{
    margin-bottom: 15px;
    font-size: 60px;
    color: #17181a;
    font-family: pp woodland;
    font-weight: 600;
}

#vs-tt p{
    font-size: 30px;
    font-family: poppins;
    font-weight: 450;
    color: #17181a;
    margin-bottom: 20px;
}



#value-investor{
    height: 100vh;
    width: 100%;
    background-color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
}

#v-i-head{
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: red; */
}
#v-i-head h1{
    font-family: poppins;
    font-size: 100px;
    color: #a9ff03;

}
#v-i-text{
    text-align: left;
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: rgb(59, 13, 13); */
}
#vi-tt{
    height: 70%;
    width: 70%;
    background-color:#dcff02;
    display: flex;
    border-radius: 50px;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    padding-left: 80px;
    box-shadow: 25px 15px 0px #c68fff;
}
#vi-tt h2{
    margin-bottom: 15px;
    font-size: 60px;
    color: #17181a;
    font-family: pp woodland;
    font-weight: 600;
}

#vi-tt p{
    font-size: 30px;
    font-family: poppins;
    font-weight: 450;
    color: #17181a;
    margin-bottom: 20px;
}

colortoadd{
    color:#dcff02;
    color: #a9ff03;
    color: #17181a;
    color: #000000;
    color: #c68fff;
    color: #5cffe4;
}

/* #loader{
    height: 100vh;
    width: 100%;
    color: #fff;
    background-color: #111;
}

#loader h2{
    width: 50%;

    display: flex;
    justify-content: center;
    font-weight: 500;
    font-family: pp woodland;
    font-size: 70px;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

}

.paisa-loader i{
    position: absolute;
    top: 50%;
    font-size: 200px;
    left: 50%;
    transform: translate(-50%,-50%);
    color:#dcff02;
}
.reveal .parent{
    overflow-x: hidden;
    display: block;
    display: flex;
    justify-content: center;
    width: 100%;
}
.reveal .parent .child{
    display: block;
}

.parent .child span{
    display: inline-block;
} */