

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 13px 50px;
    /* background: red; */
}


.logo img{
object-fit: cover;
object-position: center;
}
.nav-links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.nav-links a{
    text-decoration: none;
    color: rgb(31, 31, 31);
    font-size: large;
}

.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.btn li select{
    display: inline-block;
    height: 30px;
    width: 150px;
    padding: 2px 10px;
    outline: none;
    color: var(--font-color);
    border: none;
    background: var(--secondary);
    border-radius: 4px;
}

.btn button{
    padding: 6px 16px 6px 16px;
    color: white;
    font-size: 18px;
    background-color: #D01C28;
    font-family: poppins;
    font-weight: 500;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}

.btn button:hover{
    background-color: #8f020b;
}