* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: poppins;
}
html, body {
    height: 100%;
    width: 100%;
}
body{
    padding: 100px;
}

textarea{
    width: 400px;
    height: 100px;
    font-size: 18px;
    font-weight: 500;
    border: 1px solid #dadada;
    outline-color: royalblue;
    resize: none;
    padding: 10px;
}