* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: "poppins";
}
html, body {
    height: 100%;
    width: 100%;
}
main{
    height: 100%;
    width: 100%;
}

nav{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 30px 40px;
    gap: 1.5px;
    position: fixed;
    width: 100%;
}

nav h3{
    background-color: rgb(30, 28, 28);
    color: white;
    border-radius: 50px;
    padding: 11px 22px;
    font-size: 15px;
}

#intro{
    height: 40%;
    width: 100%;
    background-color: bisque;
    padding: 50px;
}

#intro h1{
    font-size: 100px;
    line-height: 100px;
    font-weight: 500;
    letter-spacing: -3px;
    color: rgb(47, 43, 43);
}

#place{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
}
#place h3{
    font-weight: 500;
}

#hero-img{
    height: 87%;
    width: 100%;
    background-image: url(https://assets-global.website-files.com/64589fb989b2b33c593db89d/6458a6db645ec6a527000cfa_home-hero-p-2000.webp);
    background-size: cover;

}